.container{
    margin-top: 5%;
}

#js-start{
    margin: 25% 0 10% 0;
    width: 300px;
    height: 125px;
    font-size: 2rem;
}

.alert{
    text-align: center;
}

#js-attention{
    text-align: center;
    margin: 0 25%;
    font-size: 1.2rem;
    font-weight: bold;
}

.num{
    color: red;
}

#js-reset{
    display: none;
}

#js-reset:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(114, 114, 114);
    transform: translateY(-0.15rem) rotate(360deg);
    transition: transform 0.8s;
}


button:hover{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(114, 114, 114);
    transform: translateY(-0.2rem);
}

